.main-container {
	width: 100%;
	height: 100vh;

	background: linear-gradient(135deg, var(--color-warm-white) 0%, var(--color-soft-cream) 100%);
	color: var(--color-text);

	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: wrap;
}

.main-left {
	width: 70%;
	height: 100%;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.main-right {
	width: 30%;
	height: 100%;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* Stacking containers on top of eachother for mobile devices */
@media (max-width: 800px) {
	.main-left,
	.main-right {
			width: 100%;
	}

	.main-right {
		margin-top: -8px;
		margin-left: 8px;
	}
}

.map-container, .hike-info-container, .weather-info-container {
	margin: 8px;
	padding: 8px;

	border-radius: 0.5rem;
	overflow: hidden;
}

.hike-info-container {
	/* Percentage - paddings and margins */
	height: calc(35% - 24px);
	width: 100%;

	margin-top: 0;

	background-color: var(--color-light-green);
}

.map-container {
	/* Percentage - paddings and margins */
	height: calc(65% - 32px);
	width: 100%;

	background-color: var(--color-dark-blue);
}

.weather-info-container {
	margin-left: 0;

	height: calc(100% - 32px);
	width: 100%;

	background-color: var(--color-dark-orange);
	/* display: flex; */
	/* justify-content: center; */
}
