@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
	font-family: "Google Sans";
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings: "GRAD" 0;

	padding: 0;
	margin: 0;
}
